.sidebar-wrapper {
    background: var(--light-grey);
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 130px;
    min-height: 100vh;
    border: none;
  }
  
  .sidebar-wrapper .logo {
    margin: 0.5em 0 0;
  }