.sidebar-wrapper {
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  width: 135px;
  min-height: 100vh;
  border: none;
  box-shadow: var(--debossed-shadow-mini-right);
  z-index: 1;
}

.sidebar-wrapper .logo {
  margin: 1em 0 0.5em;
}

.sidebar-wrapper .logo img {
  max-width: 3.8em;
}
