.select-wrapper {
  background: var(--light-grey);
  border-radius: var(--border-radius-high);
  box-shadow: var(--embossed-shadow-high);
  box-sizing: border-box;
  display: flex;
  outline: none;
  margin-bottom: 1em;
}
.select-wrapper select {
  background: none;
  border: none;
  font-size: 1em;
  line-height: 1em;
  height: 2.7em;
  outline: none;
  width: 100%;
  padding-left: 1em;
  border-radius: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='625' height='50' viewBox='0 0 1250 99'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_1' data-name='Polygon 1' class='cls-1' d='M1187,52l-11-19h22Z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;
}
.select-wrapper select:hover {
  cursor: pointer;
  background-color: #f0f0f3;
}
