.loader {
  position: absolute;
  top: 47%;
  left: 47%;
}

.bubble {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 20px;
  height: 20px;
}

.bubble:nth-child(1) {
  background: #73abd7;
}

.bubble:nth-child(2) {
  animation-delay: 180ms;
  background: #f27eb1;
}

.bubble:nth-child(3) {
  animation-delay: 360ms;
  background: #709d68;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
}
