main {
  align-items: center;
  background: var(--light-grey);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.batch-detail{
  width: 50%;
  /* float: left; */
}
.right-panel{
  float:right; 
  width: 50%;
  /* display: block; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px;
  line-height: 2em;
}
.batchDetail-wrapper{
  display: flex;
  padding: 0 1.2em;
}
/* .centered{
  margin: 0 auto;
  float:right;
} */

.batchDetail-wrapper .edit-btn {
  display:none;
}

.batchDetail-wrapper .panel .btn-primary {
  display:none;
}

.batchDetail-wrapper .form-title {
  margin-top: 2em;
}

