.sidebar-wrapper {
    text-align: center;
     display:flex;
     flex-direction: column;
     position: relative;
     width: 130px;
     min-height: 100vh;
     border: none;
     background-color: #ECEDF1;
 }
 