/* to be deleted later when we use use global style */
* {
  margin: 0;
  padding: 0;
  color: #3b4349;
  font-family: Proxima Nova, sans-serif;
}

.footer {
  /* background-color to be deleted later when we use use global style */
  background-color: #ebecf0;
  height: 5em;
  text-align: center;
  line-height: 5em;
  vertical-align: middle;
}
