* {
  background-color: #ebecf0;
  color: #3b4349;
  font-family: Proxima Nova, sans-serif;
}

/* TODO: global shadow to be added later */
.add-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 2rem;
  font-size: 1rem;
}

.add-image svg {
  display: block;
  margin: auto;
  margin-bottom: 1em;
}
