@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '/../theme.css';

.detail-chart-container {
  background: var(--white);
  border-radius: 20px;
  padding: 2em 1em;
  margin: 0 1em;
}

tspan {
  font-size: 0.9rem !important;
}
