.list {
  padding: 0;
}
.list li {
  font-size: 0.85em;
  width: 98%;
  list-style: none;
  margin: 0;
  text-align: center;
}
.list li:hover {
  border-radius: 0.4em;
  background: var(--light-grey);
  box-shadow: var(--debossed-shadow-tiny);
  color: var(--light-blue);
}

.list li a {
  font-size: 0.9em;
  text-decoration: none;
}

.list li:hover a {
  color: var(--light-blue);
}

.dropdown-item {
  width: 100%;
  padding: 0.4em 0;
  display: inline-block;
}
