.form-title {
  font-family: Proxima Nova, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;
  color: #3b4349;
  padding-left: 1em;
}
