.chartbar-button-wrapper {
  border: var(--border-inputs);
  color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: flex-end;
  padding:1.5em 0;
}

.btn-wrapper .btn-toggle {
  margin: 10px;
}


