.modal-overlay {
  position: absolute;
  width: 1200px;
  height: 605px;
  left: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.7);
}

.modal-wrapper {
  position: absolute;
  width: 600px;
  height: 502.86px;
  left: 300px;
  top: 80px;
  margin-bottom: 20px;

  background: #ebecf0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  /* container-shadow */

  box-shadow: -7px -7px 20px rgba(255, 255, 255, 0.8), 5px 5px 20px #c9cbd8;
  border-radius: 20px;
}

.modal-close-button {
  position: absolute;
  width: 17.86px;
  height: 43.57px;
  left: 550px;
  top: 10.86px;

  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;

  color: #666666;
}
.modal {
  position: absolute;
  width: 500px;
  height: 450px;
  left: 10px;
  top: 3px;
}

.text-headline {
  position: absolute;
  width: 400px;
  height: 44px;
  left: 80px;
  top: 90px;

  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;

  /* identical to box height */

  text-align: center;

  color: #3b4349;
}

.p1 {
  position: relative;
  width: 200px;
  height: 36px;
  left: 170px;
  top: 180px;

  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #666666;
}
.p2 {
  position: relative;
  width: 400px;
  height: 27px;
  left: 120px;
  top: 190px;

  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #666666;
}
.buttons-wrapper {
  position: absolute;
  width: 286.79px;
  height: 200px;
  left: 150px;
  top: 300px;
}
