.container {
  background: #ebecf0;
  box-shadow: 5px 5px 20px #c9cbd8, -7px -7px 20px rgba(255, 255, 255, 0.8);
  border-radius: 1.2em;
  color: #3b4349;
  font-family: Proxima Nova, sans-serif;
  height: 28em;
  padding: 1.6em;
  text-align: center;
  width: 30em;
}

.container h2 {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

form {
  margin-top: 1em;
}

.right {
  margin: -0.2em 0 0;
  padding-right: 0.6em;
  text-align: right;
}
