table {
  border-collapse: collapse;
  border-style: hidden;
  border-radius: var(--border-radius-low);
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

table tbody tr:hover {
  background: var(--grey);
}

table tbody tr:hover td {
  border: 1px solid var(--light-grey);
}

table tbody tr:last-child:hover {
  border-radius: 0 0 1.2em 1.2em;
}

th,
td {
  height: 50px;
  border: 1px solid var(--grey);
}

td {
  font-size: 0.9em;
}

.capitalize {
  text-transform: capitalize;
}
