.batch-list {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

.batch-list .content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  margin-left: 130px;
  width: 100%;
}

.batch-list header {
  padding: 1em 1em 0;
}

.batch-list header h1 {
  font-size: 1.3em;
  margin: 1em 0 0;
  padding: 0 1em;
}

navigation {
  display: flex;
  flex-direction: row;
  padding: 1em 1em 0;
}

.filter-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 2em 0 1em;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1em;
}

.filter-labels {
  font-weight: bold;
}

.batch-table {
  padding: 1em 1em 0;
  margin: 0 4em;
  width: 100%;
}

.export-button {
  margin-right: 4em;
  margin-left: auto;
}
