.container {
  background: var(--light-grey);
  box-shadow: var(--embossed-shadow-high);
  border-radius: var(--border-radius-low);
  color: var(--font-color);
  font-weight: normal;
  height: 30em;
  padding: 1.6em;
  text-align: center;
  width: 30em;
}

.container h2 {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.container .error-notification {
  min-height: 2.1em;
}

.container form {
  margin-top: 1em;
}

.right-link {
  margin: -0.2em 0 0;
  padding-right: 0.6em;
  text-align: right;
}

.container .btn-wrapper {
  justify-content: center;
}
