input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2.2em;
  box-shadow: inset 4px 4px 8px #c9cbd8,
    inset -3px -3px 10px rgba(255, 255, 255, 0.9);
  font-size: 1em;
  margin: 1.1em 0 0.5em;
  outline: none;
  padding: 1em 1.2em;
  width: 90%;
}

input:-webkit-autofill {
  background: #ebecf0;
}

input.disabled {
  background: #dedfe3;
  color: rgba(59, 67, 73, 0.4);
}

input.disabled::placeholder {
  color: rgba(59, 67, 73, 0.4);
}
