.card {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1rem;
  color: #3b4349;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1.6rem;
  padding: 1.5rem;
  margin: 1rem;
  border: 1px solid lightgray;
}
.card-title {
  font-size: 1.6rem;
  color: #3b4349;
}
