.progressbar {
  width: 1000px;
  background-color: gainsboro;
  height: 2em;
  border-style: groove;
  border-radius: 1em;
  padding: 0;
}
.compmid {
  background-color: rgb(86, 86, 214);
  width: 25%;
  height: 2em;
  margin: 0;
  padding: 0;
  border-style: groove;
  border-left: none;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
  float: left;
}
.compmid:first-child {
  background-color: rgb(86, 86, 214);
  width: 25%;
  height: 2em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  border-left: none;
}
.compmid:last-child {
  background-color: rgb(86, 86, 214);
  width: 25%;
  height: 2em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
  border-right: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: rgb(86, 86, 214);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 90%;
  margin-left: -30px;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  rgb(86, 86, 214) transparent transparent transparent;
}

.tooltip .tooltiptext {
  visibility: hidden;
}
