@import '../../theme.css';

.label {
  background-color: var(--interaction-color);
  color: white;
  display: inline-block;
  padding: 10px;
}

.label-primary {
  background-color: var(--primary-color);
  color: white;
}

.label-interaction {
  background-color: var(--interaction-color);
  color: white;
}

.label-danger {
  background-color: var(--danger-color);
  color: white;
}
