.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0.7em 1.2em;
  border-radius: 40px;
  border: none;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 3px 3px 15px #c9cbd8;
}

.btn:active {
  box-shadow: inset 2px 2px 10px rgba(102, 102, 102, 0.6),
    inset -3px -3px 10px rgba(255, 255, 255, 0.9);
}

.btn-secondary {
  background-color: #c9cbd8;
  color: #666666;
}

.btn-large {
  font-size: 30px;
  line-height: 37px;
  padding: 0.4em 2.3em;
}

.btn-toggle {
  background: #ebecf0;
  font-size: 16px;
  color: #3b4349;
  text-transform: none;
  font-weight: normal;
  padding: 0.7em 1.2em;
  border-radius: 20px;
  box-shadow: -7px -7px 20px rgba(255, 255, 255, 0.8), 5px 5px 20px #c9cbd8;
}

.btn.toggled {
  box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.9),
    inset 4px 4px 8px #c9cbd8;
}
