.btn-wrapper {
  margin: 1.4em 0;
}

.btn-wrapper button {
  background: var(--interaction-color);
  box-shadow: var(--button-shadow);
  border-radius: var(--border-radius);
  border: var(--border-inputs);
  color: var(--white);
  font-size: 1.3em;
  outline: none;
  padding: 0.6em;
  text-transform: uppercase;
  width: 100%;
}

.btn-wrapper button:active {
  box-shadow: var(--button-shadow-active);
}

.btn-wrapper .pink {
  background: var(--pink);
}

.btn-wrapper .gray {
  background: var(--grey);
  color: var(--font-color);
}
