.icon {
    color: var(--dark-blue);
    font-size: 2.1875rem;
    margin-top: 0.2em;
  }
  p {
    color: var(--dark-blue);
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1em;
    margin: 0.5em 0;
  }
  .item {
    background: var(--light-grey);
    border: var(--border-inputs);
    border-radius: var(--border-radius-low);
    box-shadow: var(--embossed-shadow-medium);
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 1em auto;
    padding:0.5em 0;
    transition: none;
    width: 75%;
    outline: none;
    position: relative;
  }
  .item:focus-visible {
    background: var(--light-grey);
    box-shadow: var(--debossed-shadow-medium);
  }
  .item:hover {
    background: var(--light-grey);
    box-shadow: var(--debossed-shadow-medium);
  }
  .item:hover path,
  .item:hover p {
    color: var(--light-blue);
  }
  .item-active {
    background: var(--light-grey);
    border: var(--border-inputs);
    border-radius: var(--border-radius-low);
    box-shadow: var(--debossed-shadow-medium);
    color: var(--dark-blue);
    flex-direction: column;
    margin: 1em auto;
    padding: 0.5em 0;
    text-align: center;
    transition: none;
    width: 75%;
    align-items: center;
  }
  .itemActive {
    background: var(--light-grey);
    border: var(--border-inputs);
    border-radius: var(--border-radius-low);
    box-shadow: var(--debossed-shadow-medium);
    color: var(--dark-blue);
    flex-direction: column;
    margin: 1em auto;
    padding: 0.5em 0;
    text-align: center;
    transition: none;
    width: 75%;
    align-items: center;
  }
  .user {
    margin-top: auto;
  }