@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato&display=swap');
@import 'theme.css';

* {
  box-sizing: border-box;
  color: var(--dark-blue);
  font-family: Proxima Nova, 'Lato', 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-grey);
}

main {
  margin-bottom: 5em;
}

h1 {
  font-size: 2.2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4em;
}

button {
  cursor: pointer;
}

.content {
  padding-top: 2em;
  margin-left: 135px;
}
.content .wrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  height: calc(100vh - 5em);
}
