@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato&display=swap');
@import 'theme.css';

* {
  box-sizing: border-box;
  color: var(--dark-blue);
  font-family: Proxima Nova, 'Lato', 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body > div {
  background-color: var(--light-grey);
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.4em;
}

button {
  cursor: pointer;
}