:root {
  /* Available colors */
  --black: #000;
  --white: #fff;
  --pink: #f27eb1;
  --green: #709d68;
  --light-blue: #73abd7;
  --light-grey: #ebecf0;
  --grey: #c9cbd8;
  --dark-blue: #3b4349;
  --fontawesome-gray: #898b94;

  /* Map colors to logical names */
  --interaction-color: var(--light-blue);
  --primary-color: var(--green);
  --danger-color: var(--pink);
  --font-color: var(--dark-blue);

  /*Button shadow*/
  --button-shadow: 5px 5px 8px #c9cbd8, -7px -7px 8px rgba(255, 255, 255, 0.8);
  --button-shadow-active: inset 2px 2px 10px rgba(102, 102, 102, 0.6),
    inset -3px -3px 10px rgba(255, 255, 255, 0.9);

  /*Container shadow*/
  --container-shadow: 5px 5px 20px #c9cbd8,
    -7px -7px 20px rgba(255, 255, 255, 0.8);

  /*Input shadows*/
  --input-shadow: inset 4px 4px 8px #c9cbd8,
    inset -3px -3px 10px rgba(255, 255, 255, 0.9);

  /*Default border for inputs, button*/
  --border-inputs: 1px solid rgba(255, 255, 255, 0.2);

  /*Border radius*/
  --border-radius: 2.2em;
}
